<style>
    nav {
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        margin: 0;
        border-color: #000000 !important;
    }

    .custom-color {
        background-color: #ffd900 !important;
        border-color: #000000 !important;
    }

    img {
        width: 60px;
        margin-left: 10px;
    }

    /* MAIN */
    main > header {
        color: #e9003e;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
        font-weight: 800;
    }

    .produto {
        margin-bottom: 20px;
        cursor: pointer;
    }

        .produto p {
            background-color: #f30041;
            color: whitesmoke;
            padding: 5px 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    section #produtos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .produto img {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .produto {
        margin: 5px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoCiele</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css"/>
</head>
<body>
        <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
                    <!-- até aqui-->
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjetoCiele</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Administrador
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" href="/Permisao/Index">Permissões</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Usuários
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" href="/Usuarios/Create">Cadastrar</a>
                                        <a class="dropdown-item nav-link text-dark" href="/Usuarios/Index">Listar</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Produtos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" href="/Produtos/Create">Cadastrar</a>
                                        <a class="dropdown-item nav-link text-dark" href="/Produtos/Index">Listar</a>
                                    </div>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entregador" asp-action="Index">Entregador</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Entrar">Logar</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" href="/Usuarios/Create">Cadastrar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
        </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - ProjetoCiele - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        @await RenderSectionAsync("Scripts", required: false)
        <script>
            window.addEventListener('DOMContentLoaded', event => {

                // Toggle the side navigation
                const sidebarToggle = document.body.querySelector('#sidebarToggle');
                if (sidebarToggle) {
                    sidebarToggle.addEventListener('click', event => {
                        event.preventDefault();
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }

            });
        </script>
</body>
</html>
