<style>
    
    nav {
        padding: 0px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        margin: 0px;
        border-color: #fab633;
    }
    #menu{
        margin: 0;
        display:block;
        background-color: #d9534f;
        color:white;
        width: 0px;
        overflow-x: hidden;
        transition: 0.5s;
        position: fixed;
    }
    #buggerButton{
        width: 50px;
        height: 50px;
        color: black;
        background: none;
        border: none;
        border-radius: 25px;
    }
    #buggerButton :hover{
        background-color:#d9534f;
        transition: 0.5s;
    }
    .custom-color {
        background-color: #ffd900 !important;
        border-color: #000000 !important;
    }

 

    /* MAIN */
    main > header {
        color: #e9003e;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
        font-weight: 800;
    }

    .produto {
        margin-bottom: 20px;
        cursor: pointer;
    }

        .produto p {
            background-color: #f30041;
            color: whitesmoke;
            padding: 5px 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    section #produtos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .produto img {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .produto {
        margin: 5px;
    }
   

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css"/>
</head>
<body>
        <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning">
                    <!-- até aqui-->
                    <button id="buggerButton" onclick ="displayMenu()">☰</button>
                    <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index">Cardapio</a>
                    <div class="d-flex ml-auto">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Entrar"><img src = "https://cdn.icon-icons.com/icons2/788/PNG/512/user-1_icon-icons.com_65106.png" width = "20">Login</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" href="/Usuarios/Create">Cadastrar</a>
                                </li>
                            </ul>
                    </div>
        </nav>
        <div id = "menu" class="container col-1 p-0 ml-0 mt-0">

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white p-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Administrador
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-black" href="/Permisao/Index">Permissões</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white p-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Usuários
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" href="/Usuarios/Create">Cadastrar</a>
                                        <a class="dropdown-item nav-link text-dark" href="/Usuarios/Index">Listar</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white p-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                        Produtos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" href="/Produtos/Create">Cadastrar</a>
                                        <a class="dropdown-item nav-link text-dark" href="/Produtos/Index">Listar</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white p-3" asp-area="" asp-controller="Entregador" asp-action="Index">Entregador</a>
                                </li>
                                </ul>
        </div>
        </div>

        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - ProjetoCiele - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        @await RenderSectionAsync("Scripts", required: false)
        <script>

            function displayMenu(){
                var menu = document.getElementById("menu");
                var bButton = document.getElementById("buggerButton");
                if (menu.style.width == 0 || menu.style.width == "0px"){
                    bButton.style.backgroundColor = "#d9534f";
                    bButton.style.color = "white";
                    menu.style.width = "250px";
                }else{
                    bButton.style.background = "none"
                    bButton.style.color = "black";
                    menu.style.width = "0";
                }
            }       


            window.addEventListener('DOMContentLoaded', event => {

                // Toggle the side navigation
                const sidebarToggle = document.body.querySelector('#sidebarToggle');
                if (sidebarToggle) {
                    sidebarToggle.addEventListener('click', event => {
                        event.preventDefault();
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }
            });
        </script>
</body>
</html>
