<style>
    

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/layout.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css"/>
    <link href="css/Layout.css" rel=" Stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-light amber lighten-4 mb-4 bg-warning">

  <!-- Navbar brand -->
  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cardapio</a>

  <!-- Collapse button -->
    <button class="navbar-toggler second-button border border-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span></span><span></span><span></span></div>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent20">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-black ml-auto" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-black ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Administrador
        </a>
        <div class="dropdown-menu bg-warning border border-warning" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-link text-black ml-2" href="/Permisao/Index">Permissões</a>
        </div>
    </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-black ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Usuários
        </a>
    <div class="dropdown-menu bg-warning border border-warning" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link text-black ml-2" href="/Usuarios/Create">Cadastrar</a>
        <a class="dropdown-item nav-link text-black ml-2" href="/Usuarios/Index">Listar</a>
    </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-black ml-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Produtos
        </a>
    <div class="dropdown-menu bg-warning border border-warning" aria-labelledby="navbarDropdown">
        <a class="dropdown-item nav-link text-dark" href="/Produtos/Create">Cadastrar</a>
        <a class="dropdown-item nav-link text-dark" href="/Produtos/Index">Listar</a>
    </div>
    </li>
    <li class="nav-item bg-warning border border-warning">
        <a class="nav-link text-black p-auto" asp-area="" asp-controller="Entregador" asp-action="Index">Entregador</a>
    </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - ProjetoCiele - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        @await RenderSectionAsync("Scripts", required: false)
        <script>

            function displayMenu(){
                var menu = document.getElementById("menu");
                var bButton = document.getElementById("buggerButton");
                if (menu.style.width == 0 || menu.style.width == "0px"){
                    bButton.style.backgroundColor = "#d9534f";
                    bButton.style.color = "white";
                    menu.style.width = "350px";
                }else{
                    bButton.style.background = "none"
                    bButton.style.color = "black";
                    menu.style.width = "0";
                }
            }       


            window.addEventListener('DOMContentLoaded', event => {

                // Toggle the side navigation
                const sidebarToggle = document.body.querySelector('#sidebarToggle');
                if (sidebarToggle) {
                    sidebarToggle.addEventListener('click', event => {
                        event.preventDefault();
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }
            });
        </script>
</body>
</html>
