<link href="~/css/style.css" rel="stylesheet" />
<header class="header">
    <span>ENTREGADOR</span>
</header>
<div class="container">
    <section class="title subheader">
        <span>PEDIDOS A SEREM ENTREGUES</span>
    </section>
    <section class="order-container board">

        <div class="order">
            <span class="title">PEDIDO - N° X</span>
            <div class="line"></div>
            <div class="details">
                <div class="dados">
                    <span class="title">ENDEREÇO</span>
                    <span class="subtitle">Avenida XXX</span>
                </div>
                <div class="dados">
                    <span class="title">NOME</span>
                    <span class="subtitle">Teste</span>
                </div>
                <div class="dados">
                    <span class="title">FORMA DE PAGAMENTO</span>
                    <span class="subtitle">Pix</span>
                </div>
                <div class="dados">
                    <span class="title">PRODUTO</span>
                    <span class="subtitle">1x Cachorro quente</span>
                </div>
                <div class="dados">
                    <span class="title">VALOR</span>
                    <span class="subtitle">R$ 20.00</span>
                </div>
            </div>
            <button class="confirm">CONFIRMAR ENTREGA</button>
        </div>
        <div class="map">
            <span class="title">Localização</span>
            <div class="line"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3713.978527093805!2d-48.51747368444381!3d-21.43008899223396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b93bd3b48e7047%3A0x1808de33145ee4e0!2sFatec%20Taquaritinga!5e0!3m2!1spt-BR!2sbr!4v1653610767860!5m2!1spt-BR!2sbr"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>
</div>