<style>
    body {
        background-image: url("/img/276352.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0px;
        margin-bottom: 50px;
    }

    h3 {
        color: black;
        text-align:center;
        margin-right:62px;
        max-width: 100%;
        margin: 10px 15% 10px;
    }
    .btn.btn-primary {
        color: #ffffff;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }
        .panel h2 {
        color: #444444;
        font-size: 18px;
        margin: 0 0 8px 0;
    }

    .panel p {
        color: #777777;
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 24px;
    }
    .panel, form{
        text-align: center;
    }
    a{
        color:black;
        text-decoration: none;
    }
    
</style>
@model ProjetoCiele.Entidades.Usuario

@{
    ViewData["Title"] = "Cadastro de Usuário";
}
 <body class="login">
       <div class="row align-item-center ">
                <div class="col-md-10 mx-auto col-lg-5">
                    <div class="p-4 p-md-5 border rounded bg-light">
                    <div class="panel">
                        <h2>Cadastro de Usuário</h2>
                    </div>
                    <form class="bg-light" id="form" asp-action="Create">
                        <img src = "~/img/logo-ciely.png" width = "80" class = "mb-2">
                        <div class="form-group">
                            <input type = "text" asp-for="Nome" class="form-control" placeholder="Nome" />
                        </div>
                        <div class="form-group">
                            <input type = "text" asp-for="Email" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type = "password" asp-for="Senha" class="form-control" placeholder="Senha"/>
                        </div>
                        <div class="form-group">
                            <input type = "text" asp-for="endereco" class="form-control" placeholder="Endereco"/>
                        </div>
                        <div class="form-group">
                            <input type = "text" asp-for="telefone" class="form-control" placeholder="Telefone"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cadastrar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
