@model List<ProjetoCiele.Entidades.Produtos>;


@{
    ViewData["Title"] = "Pagina Principal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ciely Lanches e Porções</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/custom-style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/Layout.css" rel=" Stylesheet"/>
    
</head>
<body>
    <div class="container">
    <div class="input-group flex-nowrap  float-right col-11 mb-4">
        @* <span class="input-group-text border-warning bg-warning" id="addon-wrapping"><img src="~/img/icons8-pesquisar-30.png" width="20" ></span>
        <input type="text" class="form-control borde-warning bg-warning " id = "SerchBar" placeholder="Pesquisar"aria-describedby="inputGroup-sizing-default"> *@
        @* <div class="input-group rounded">
          <input type="search" class="form-control rounded bg-warning" name= "query"placeholder="Pesquisar" aria-label="Search" aria-describedby="search-addon"/>
          <span class="input-group-text border-0  bg-transparent" id="search-addon">
            <img src="~/img/icons8-pesquisar-30.png" width="20" >
          </span>
</div> *@
    </div>
    </div>
    <!--CAROUSEL PROMOÇÕES-->
 <div id="carouselExampleSlidesOnly" class="carousel slide mt-4" data-bs-ride="carousel">
    <ol id= "indicator" class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src= "https://1.bp.blogspot.com/-0bXztcE2yOU/XTtR9SVpDxI/AAAAAAACSUg/4MRMpITAbwQT9GZX_WpPQw7Y5p_LIWRCACLcBGAs/s1600/WhatsApp%2BImage%2B2019-07-26%2Bat%2B11.42.55%2BAM.jpeg" class="d-block w-70 rounded mx-auto d-block col-5" width="250" height="250">
    </div>
    <div class="carousel-item">
      <img src="https://1.bp.blogspot.com/-MRJAjKwtSH8/Xrm6JeRerzI/AAAAAAACZfc/Do2-yEHJ_WobPWJIunB2y_euLFTF5YxRgCNcBGAsYHQ/s1600/CURRICULO%2BDO%2BRN.jpeg" class="d-block w-70 rounded mx-auto d-block col-5" width="250" height="250">
    </div>
    <div class="carousel-item">
      <img src="https://digaolanches.com.br/site/wp-content/uploads/2022/07/05-banner-site-800x600.png" class="d-block w-70 rounded mx-auto d-block col-5" width="250" height="250">
    </div>
  </div>
</div>
<div class="w-100 bg-warning rounded-pill">
  <h1 class="d-flex justify-content-center mt-5 mb-5 text-black">CARDAPIO</h1>
</div>
<div class="row">
  @foreach (var produtos in Model){
    <div class="col-sm-4">
      <div class="card text-center bg-light mb-4">
        <img src="" alt="">
        <div class="card-header">
          R$ @produtos.preco.ToString("F2")
        </div>
        <div class="card-body" style="height:124px;">
          <h5 class="card-title">@produtos.nome</h5>
          <p class="card-text">@produtos.descricao</p>
        </div>
        <div class="card-footer">
          <div><a href="#" class="btn btn-primary">Adicionar ao Carrinho</a></div>
        </div>
      </div>
    </div>
  }
</div>

    <footer>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="js/bootstrap.min.js"></script>
    <script src="fontawesome/js/all.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script>
      var myCarousel = document.querySelector('#carouselExampleSlidesOnly');
      var carousel = new bootstrap.Carousel(myCarousel, {
      interval: 3000,
      wrap: true
})

    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })

    </script>

</body>
</html>
