@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ciely Lanches e Porções</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/custom-style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#!">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Carrinho</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-menu-end"
                     aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#!">Action</a>
                    <a class="dropdown-item" href="#!">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- Page content-->
    <!--
    <main>
        <header>CARDAPIO</header>
        <br>
        <section id="produtos">
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ZOvOBWbbKLS2_bKct3gJAMf2krmZ7lUZxQ&usqp=CAU">
                <p>
                    X TUDO<br>Pão, Hamburger, Presunto, Mussarela<br>
                    Bacon, Alface, Ovo, Tomate, Requeijão Scala
                </p>
            </section>
            <section class="produto">
                <img src="">
                <p>Porção Batata Cheddar e Bacon</p>
            </section>
        </section>
    </main> -->
    <footer>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="js/bootstrap.min.js"></script>
    <script src="fontawesome/js/all.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>


</body>
</html>
